body {
  margin: 0;
}

#viewport {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

#board {
  --width: calc(min(80vw, 80vh));
  --snake-color: conic-gradient(green, blue, red, blue, green);
  --fruit-color: conic-gradient(red, orange, green, red);
  --rows: 30;
  --columns: 30;

  width: var(--width);
  height: var(--width);

  display: grid;
  grid-template-rows: repeat(var(--rows), auto);
  grid-template-columns: repeat(var(--columns), auto);
  grid-gap: 1px;
}

.square {
  background-color: white;

  filter: blur(0px) grayscale(0%);
  transition: filter 0.5s;
}
.square.snake {
  border: none;
  border-radius: 50%;
  background: var(--snake-color);
}
.square.fruit {
  border: none;
  border-radius: 50%;
  background: var(--fruit-color);
}
.lost .square,
.paused .square {
  filter: blur(1px) grayscale(20%);
}
